@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Proxima Nova Light';
    src: url('../fonts/ProximaNova-Light.eot');
    src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Light.woff') format('woff'),
    url('../fonts/ProximaNova-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Light Italic';
    src: url('../fonts/ProximaNova-LightIt.eot');
    src: url('../fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-LightIt.woff') format('woff'),
    url('../fonts/ProximaNova-LightIt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Regular ';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Proxima Nova Regular Italic';
    src: url('../fonts/ProximaNova-RegularIt.eot');
    src: url('../fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-RegularIt.woff') format('woff'),
    url('../fonts/ProximaNova-RegularIt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@mixin bold {
    font-family: 'Proxima Nova Bold', sans-serif;
}

@mixin light {
    font-family: 'Proxima Nova Semibold', sans-serif;
}

@mixin light {
    font-family: 'Proxima Nova Light', sans-serif;
}

@mixin light {
    font-family: 'Proxima Nova Light Italic', sans-serif;
}

@mixin light {
    font-family: 'Proxima Nova Regular', sans-serif;
}

@mixin light {
    font-family: 'Proxima Nova RegularIt', sans-serif;
}


